@import "src/Styles/mixins";
@import "src/Styles/colors";

.order {
  font-weight: 500;
  background-color: #fff;
  overflow: hidden;


  &BackToMenu {
    @include flex(space-between, center);
    margin: 0 0 25px 100px;
    cursor: pointer;

    & svg {
      width: 20px;
      margin-right: 10px;
    }
  }

  &Item {
    display: grid;
    grid-template-columns: 6fr 6fr;
    justify-items: center;
    width: 95%;
    height: 100%;

    &Img {
      justify-self: start;
      width: 90%;
    }

    & .orderSize {
      transform: rotate(0deg);
      width: 90%;
      transition: all 1s;
    }

    & .orderSizeSmall {
      width: 80%;
      transform: rotate(-30deg);
    }

    & .orderSizeMedium {
      width: 90%;
      transform: rotate(0deg);
    }

    & .orderSizeLarge {
      width: 100%;
      transform: rotate(30deg);
    }

    &Details {
      @include flex(center, flex-start, column);
      width: 100%;
      margin: 50px 0 0 0;

      &__title {
        font-size: 32px;
        margin-bottom: 20px;

      }

      &__description {
        font-size: 12px;
        margin-bottom: 50px;
        width: 300px;
      }
    }

  }

  &Button {
    color: #ffffff;
    padding: 15px 30px;
    background-color: $mainRouse;
    border: none;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}

.size {
  @include flex(center, center);
  margin-bottom: 30px;
  font-weight: 500;

  &Size {
    margin-right: 5px;
  }

}

.toppings {
  width: 90%;

  &Title {
    font-size: 11px;
    color: $mainRouse;
  }

  &Items {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-row-gap: 10px;
    margin-top: 15px;
    z-index: 99;

  }
}

.price {
  @include flex(center, center);
  margin: 50px 0;


  &Item {
    margin-right: 20px;

  }

  &Count {
    @include flex(center, center);
    height: 20px;
    background-color: #F7F5F7;
    border-radius: 30px;
    cursor: default;

    & button {
      border: none;
      outline: none;
      background-color: #F7F5F7;

      &:hover {
        background-color: $mainYellow;
      }
    }

    .disabled {
      cursor: default;

      &:hover {
        background-color: #F7F5F7;
      }
    }

    &__minus {
      margin-right: 5px;

      &Btn {
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        padding: 3px 7px 0 7px;
        cursor: pointer;


      }
    }

    &__plus {
      margin-left: 5px;

      &Btn {
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        padding: 3px 7px 0 7px;
        cursor: pointer;

      }
    }

  }
}


@media (max-width: 1450px) {
  .order {
    &Item {
      &Details {
        margin: 40px 0 0 0;

        &__title {
          font-size: 28px;
          margin-bottom: 15px;

        }

        &__description {
          font-size: 10px;
          margin-bottom: 45px;
          width: 300px;
        }
      }

    }
  }

}

@media (max-width: 1100px) {
  .order {
    &Item {
      &Details {
        &__title {
          font-size: 20px;
        }
      }

      &Img {
        width: 85%;
        margin-left: 20px;
      }
    }
  }
  .toppings {
    &Title {
      font-size: 11px;
      color: $mainRouse;
    }

    &Items {
      grid-row-gap: 7px;
      margin-top: 10px;
      z-index: 99;
    }
  }
}


@media (max-width: 750px) {
  .order {
    margin-left: 100px;
    height: 600px;

    &BackToMenu {
      margin: 0 0 10px 0;
    }

    &Item {
      grid-template-columns: 12fr;

      &Details {
        margin: 0 0 0 600px;
        justify-content: flex-start;

        &__title {
          font-size: 20px;
          margin-bottom: 0;
        }

        &__description {
          font-size: 10px;
          margin-bottom: 10px;
          width: 200px;
        }
      }

      &Img {
        display: inline-block;
        height: 150px;
      }

      & .orderSize {
        transform: rotate(0deg);
        width: 230px;
        transition: all 1s;
      }

      & .orderSizeSmall {
        width: 200px;
        transform: rotate(-30deg);

        & img {
          width: 200px;
        }
      }

      & .orderSizeMedium {
        width: 230px;
        transform: rotate(0deg);

        & img {
          width: 230px;
        }
      }

      & .orderSizeLarge {
        width: 250px;
        transform: rotate(30deg);

        & img {
          width: 250px;
        }
      }
    }

    &Button {
      padding: 10px 15px;
      font-size: 10px;
    }
  }
  .size {
    margin-bottom: 10px;
  }
  .price {
    margin: 10px 0;
    font-size: 10px;
  }
  &Size {
    margin-right: 0;
  }

}

@media (max-width: 610px) {
  .order {
    &Item {
      &Details {
        margin: 0 0 0 400px;
      }
    }
  }
}

@media (max-width: 510px) {
  .order {
    margin-left: 10px;

    &Item {
      &Details {

        margin: 0 0 0 200px;
        &__title {
          font-size: 15px;

        }
      }
    }
  }
  .toppings {
    &Items {
      width: 140px;
    }
  }
}

@media (max-width: 360px) {
  .toppings {
    &Items {
      grid-template-columns: 6fr 6fr;
      width: 133px;
    }
  }
}
