.order {
  font-weight: 500;
  background-color: #fff;
  overflow: hidden;


  &BackToMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 80px 100px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: red;

      .arrow {
        stroke-dashoffset: 24;
        stroke-dasharray: 34;
        animation: backArrow 1s infinite;

      }
    }

    & svg {
      width: 20px;
      margin-right: 10px;
    }
  }

  @keyframes backArrow {
    to {
      stroke-dashoffset: 17;
    }
  }


  &Item {
    display: grid;
    grid-template-columns: 6fr 6fr;
    justify-items: center;
    width: 95%;
    height: 100%;

    &Img {
      justify-self: start;
      width: 100%;
    }

    & .orderSize {
      transform: rotate(0deg);
      width: 90%;
      transition: all 1s;
    }

    & .orderSizeSmall {
      width: 80%;
      transform: rotate(-30deg);
    }

    & .orderSizeMedium {
      width: 90%;
      transform: rotate(0deg);
    }

    & .orderSizeLarge {
      width: 100%;
      transform: rotate(30deg);
    }

    &Details {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      flex-direction: column;
      margin: 50px 0 0 0;

      &__title {
        font-size: 32px;
        margin-bottom: 20px;

      }

      &__description {
        font-size: 12px;
        margin-bottom: 50px;
        width: 300px;
      }
    }

  }

  &Button {
    color: #ffffff;
    padding: 15px 30px;
    background-color: #FF7B6D;
    border: none;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}

.size {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 500;

  &Size {
    margin-right: 5px;
  }

}

.toppings {
  width: 90%;

  &Title {
    font-size: 11px;
    color: #FF7B6D;
  }

  &Items {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-row-gap: 10px;
    margin-top: 15px;
    z-index: 99;

  }
}

.price {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;


  &Item {
    margin-right: 20px;

  }

  &Count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    background-color: #F7F5F7;
    border-radius: 30px;
    cursor: default;

    & button {
      border: none;
      outline: none;
      background-color: #F7F5F7;

      &:hover {
        background-color: #FFDF8C;
      }
    }

    .disabled {
      cursor: default;

      &:hover {
        background-color: #F7F5F7;
      }
    }

    &__minus {
      margin-right: 5px;

      &Btn {
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        padding: 3px 7px 0 7px;
        cursor: pointer;


      }
    }

    &__plus {
      margin-left: 5px;

      &Btn {
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        padding: 3px 7px 0 7px;
        cursor: pointer;

      }
    }

  }
}


@media (max-width: 1450px) {
  .order {
    &Item {
      &Details {
        margin: 40px 0 0 0;

        &__title {
          font-size: 28px;
          margin-bottom: 15px;

        }

        &__description {
          font-size: 10px;
          margin-bottom: 45px;
          width: 300px;
        }
      }

    }
  }

}

@media (max-width: 1100px) {
  .order {
    &Item {

      &Details {
        &__title {
          font-size: 20px;

        }
      }
    }
  }
  .toppings {

    &Title {
      font-size: 11px;
      color: #FF7B6D;
    }

    &Items {
      grid-row-gap: 7px;
      margin-top: 10px;
      z-index: 99;


    }
  }
}

@media (max-width: 750px) {
.order{
  &Item{
    grid-template-columns: 12fr;
    &Details {

      &__title {
        font-size: 26px;
        margin-bottom: 0;

      }
      &__description {
        font-size: 10px;
        margin-bottom: 10px;
        width: 300px;
      }
    }
    &Img{
      width: 35%;
    }
    & img{
      width: 80%;
    }
  }
}
  .size{
    margin-bottom: 0;
  }
  .price{
    margin: 10px 0;
  }
}

