.order {
  font-weight: 500;
  background-color: #fff;
  overflow: hidden;
}
.orderBackToMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 80px 100px;
  cursor: pointer;
  transition: all 0.3s;
}
.orderBackToMenu:hover {
  color: red;
}
.orderBackToMenu:hover .arrow {
  stroke-dashoffset: 24;
  stroke-dasharray: 34;
  animation: backArrow 1s infinite;
}
.orderBackToMenu svg {
  width: 20px;
  margin-right: 10px;
}
@keyframes backArrow {
  to {
    stroke-dashoffset: 17;
  }
}
.orderItem {
  display: grid;
  grid-template-columns: 6fr 6fr;
  justify-items: center;
  width: 95%;
  height: 100%;
}
.orderItemImg {
  justify-self: start;
  width: 100%;
}
.orderItem .orderSize {
  transform: rotate(0deg);
  width: 90%;
  transition: all 1s;
}
.orderItem .orderSizeSmall {
  width: 80%;
  transform: rotate(-30deg);
}
.orderItem .orderSizeMedium {
  width: 90%;
  transform: rotate(0deg);
}
.orderItem .orderSizeLarge {
  width: 100%;
  transform: rotate(30deg);
}
.orderItemDetails {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  margin: 50px 0 0 0;
}
.orderItemDetails__title {
  font-size: 32px;
  margin-bottom: 20px;
}
.orderItemDetails__description {
  font-size: 12px;
  margin-bottom: 50px;
  width: 300px;
}
.orderButton {
  color: #ffffff;
  padding: 15px 30px;
  background-color: #FF7B6D;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.orderButton:hover {
  opacity: 0.8;
}

.size {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 500;
}
.sizeSize {
  margin-right: 5px;
}

.toppings {
  width: 90%;
}
.toppingsTitle {
  font-size: 11px;
  color: #FF7B6D;
}
.toppingsItems {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-row-gap: 10px;
  margin-top: 15px;
  z-index: 99;
}

.price {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.priceItem {
  margin-right: 20px;
}
.priceCount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  background-color: #F7F5F7;
  border-radius: 30px;
  cursor: default;
}
.priceCount button {
  border: none;
  outline: none;
  background-color: #F7F5F7;
}
.priceCount button:hover {
  background-color: #FFDF8C;
}
.priceCount .disabled {
  cursor: default;
}
.priceCount .disabled:hover {
  background-color: #F7F5F7;
}
.priceCount__minus {
  margin-right: 5px;
}
.priceCount__minusBtn {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding: 3px 7px 0 7px;
  cursor: pointer;
}
.priceCount__plus {
  margin-left: 5px;
}
.priceCount__plusBtn {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding: 3px 7px 0 7px;
  cursor: pointer;
}

@media (max-width: 1450px) {
  .orderItemDetails {
    margin: 40px 0 0 0;
  }
  .orderItemDetails__title {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .orderItemDetails__description {
    font-size: 10px;
    margin-bottom: 45px;
    width: 300px;
  }
}
@media (max-width: 1100px) {
  .orderItemDetails__title {
    font-size: 20px;
  }

  .toppingsTitle {
    font-size: 11px;
    color: #FF7B6D;
  }
  .toppingsItems {
    grid-row-gap: 7px;
    margin-top: 10px;
    z-index: 99;
  }
}
@media (max-width: 750px) {
  .orderItem {
    grid-template-columns: 12fr;
  }
  .orderItemDetails__title {
    font-size: 26px;
    margin-bottom: 0;
  }
  .orderItemDetails__description {
    font-size: 10px;
    margin-bottom: 10px;
    width: 300px;
  }
  .orderItemImg {
    width: 35%;
  }
  .orderItem img {
    width: 80%;
  }

  .size {
    margin-bottom: 0;
  }

  .price {
    margin: 10px 0;
  }
}

/*# sourceMappingURL=Order.module.css.map */
