.hero {
  position: relative;
  width: 100%;
  height: 100%;
  &Footer {
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 34px;
    text-transform: uppercase;

    &__descr {
      display: flex;
      justify-content: center;
      width: 65%;
      background-color: #fff;
      padding-top: 20px;

      & span {
        color: green;
      }
    }

    &__see {
      background-color: #BE0002;
      display: flex;
      justify-content: center;
      color: #ffffff;
      padding-top: 20px;
      width: 35%;

      & button {
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 20px;
        color: #ffffff;
        background-color: #000000;
        cursor: pointer;
      }
    }
  }
}


// MEDIA

@media (max-width: 1300px) {
  .hero {
    &Footer {
      font-size: 20px;
    }
    & button{
      width: 40px;
      height: 40px;
      font-size: 10px;
    }
  }
}
@media (max-width: 750px) {
  .hero {
    &Footer {
      font-size: 15px;
    }
    & button{
      width: 30px;
      height: 30px;
      font-size: 8px;
    }
  }
}
@media (max-width: 590px) {
  .hero {
    &Footer {
      font-size: 10px;
    }
    & button{
      width: 25px;
      height: 25px;
      font-size: 7px;
    }
  }
}
@media (max-width: 450px) {
  .hero {
    &Footer {
      font-size: 7px;
    }
    & button{
      width: 20px;
      height: 20px;
      font-size: 5px;
    }
  }
}


