@font-face {
  font-family: 'New York';
  src: url('./Fonts/NewYork-Regular12.eot');
  src: local('./Fonts/NewYork-Regular12.eot?#iefix'), local('embedded-opentype'),
  url('./Fonts/NewYork-Regular12.woff2') format('woff2'),
  url('./Fonts/NewYork-Regular12.woff') format('woff'),
  url('./Fonts/NewYork-Regular12.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
