
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;

 }
body{
  font-family: "New York";
}
a{
  text-decoration: none;
  color: #000000;
}
ul li{
  list-style: none;
}
button{
  outline: none;
}


