@import "../../Styles/main";


.app {
  display: grid;
  grid-template: "sidebar header header" auto "sidebar hero hero";
  grid-template-rows: 100px 100%;
  grid-template-columns: 3fr 9fr;
  position: relative;
  max-width: 1882px;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #fff;

}

.sidebar {
  grid-area: sidebar;

}

.hero {
  grid-area: hero;
  width: 100%;
}
