.product {
  padding-bottom: 100px;

  &Title {
    position: absolute;
    top: 20px;
    left: 340px;
    font-size: 28px;
    text-transform: uppercase;
    z-index: 5;
  }

  &List {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    position: relative;
  }

  &Item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    & img {
      max-height: 280px;
    }

    &__image {
      min-height: 290px;
    }

    &__add {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      background-color: #ff7b6e;
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 10px;
      border-radius: 50%;
      color: #ffffff;
      cursor: pointer;
      transition: all .2s;

      &:hover {
        background-color: rgba(255, 123, 110, .9);
      }
    }

    &__description {
      font-family: 'New York Large', sans-serif;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;

    }

    &__price {
      color: #000000;

    }

    &__name {
      font-size: 22px;
    }

    &__structure {
      font-size: 12px;
      opacity: .7;
    }

  }

}

// MEDIA

@media (max-width: 900px) {
  .product {
    background-color: red;
  }
}