@import "src/Styles/mixins";
@import "src/Styles/colors";

.basket {
  &Header {
    @include flex(space-around,center);
    margin-bottom: 50px;

    &__title {
      font-size: 28px;
    }

    &__hide {
      cursor: pointer;
      text-transform: uppercase;

      &:hover {
        color: red;
      }
    }
  }

  &Content {
    margin: 15px 0;
    width: 89%;

    &__title {
      @include flex(space-around,center);
      width: 100%;
      margin: 0 75px 30px 0;
    }

    & img {
      width: 50px;
    }

    &__toppings {
      @include flex(space-around,'',column);

    }

    &__accordion {
      position: relative;
    }


    & table {
      & tr {
        @include flex(center,center);

        & td {
          @include flex(center,center,column);
          min-height: 75px;
          min-width: 80px;
        }

        & .basketContent__image {
          position: relative;
        }

      }
    }

    &__empty {
      @include flex(center,center);
      font-size: 20px;
      height: 200px;
    }

    &__delete {
      cursor: pointer;

      & img {
        width: 15px;
      }
    }

  }

  &TotalPrice {
    @include flex(space-around,center);
    font-size: 20px;
    margin-top: 30px;
  }

  &OrderButton {
    margin-top: 50px;

    & button {
      background-color: $mainRouse;
      color: #ffffff;
      border: none;
      border-radius: 30px;
      padding: 15px 30px;
      cursor: pointer;
    }
  }
}

.toppingsTitle {
  list-style: none;
  color: $mainRouse;
}

.confirm {
  width: 100%;
  @include flex(center,center);
  position: relative;

  &Back {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }

  &Form {
    display: flex;
    @include flex(center,flex-start,column);
    position: relative;


    &__error {
      border: 1px solid red;
    }

    & .error {
      position: absolute;
      top: 10px;
      left: 165px;
      color: red;
      width: 100px;
    }
  }

  & button {
    margin-top: 50px;
  }
}


.delete-exit {
  transform: translateX(0);
}

.delete-exit-active {
  transform: translateX(-1000px);
  transition: transform 500ms ease-in;
}

.confirm-appear {
  opacity: 0;
}

.confirm-appear-done {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.content-appear {
  opacity: 0;
}

.content-appear-done {
  opacity: 1;
  transition: opacity .3s ease-in;
}


@media (max-width: 1000px) {
  .basket {
    &Content {
      & table {
        & tr {
          & td {
            min-width: 60px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .basket {
    &Content {
      & table {
        & tr {
          & td {
            min-width: 30px;
            font-size: 10px;
          }
        }
      }
    }

  }
  .confirm {
    &Back {
      top: -23px;
    }
  }
}