.constructor {
  display: grid;
  grid-template-columns: 6fr 6fr;
  justify-items: center;
  margin-top: 20px;
}

.pizza {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;

  & img {
    width: 100%;
  }
}


.ingredients {
  display: flex;
  width: 90%;
  height: 520px;
  border: 1px solid #9b9b9b;
  border-radius: 30px;
  padding: 10px;


  &Categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    & .activeCategory {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      min-height: 80px;
      cursor: pointer;
      border-radius: 30px;
      background-color: #FFDF8A;

      & span {
        & svg {
          & path {
            fill: #ffffff;
            stroke: #ffffff;
          }

        }
      }

    }

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 80px;
      cursor: pointer;
      border-radius: 30px;

      & path {
        fill: #9b9b9b;
        stroke: #9b9b9b;
      }

      &:hover {
        background-color: #FFDF8A;

        & svg {

          & path {
            fill: #ffffff;
            stroke: #ffffff;
          }
        }

      }

    }

    & .order {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & span {
        background-color: #fff;
        cursor: default;

      }

      &Button {
        color: #ffffff;
        padding: 15px 30px;
        background-color: #FF7B6D;
        border: none;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
          opacity: .8;
        }
      }
    }


  }

  &Products {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    justify-items: center;
    align-items: center;
    width: 120%;
    grid-column-gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;


    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      min-width: 50px;
      min-height: 130px;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    & .item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      border: 1px solid #9b9b9b;
      border-radius: 30px;
      min-width: 106px;
      margin-bottom: 10px;

      &Count {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        border-radius: 30px;

        & button {
          border: none;
          outline: none;
        }

        & .activeAdded {
          background-color: #FF7B6D;
          color: rgba(0, 0, 0, .2);

          &:hover {
            background-color: #FF7B6D;
            color: rgba(0, 0, 0, .2);
            cursor: default;
          }
        }

        & .activeRemoved {
          color: rgba(0, 0, 0, .2);

          &:hover {
            color: rgba(0, 0, 0, .2);
            background-color: #F7F5F7;
            cursor: default;
          }
        }

        &__minus {
          border-bottom-left-radius: 30px;
          border-top-left-radius: 30px;
          margin-right: 3px;
        }

        &__plus {
          border-bottom-right-radius: 30px;
          border-top-right-radius: 30px;
        }

        &__minus, &__plus {
          background-color: #F7F5F7;
          text-align: center;
          width: 100%;
          font-size: 20px;
          cursor: pointer;

          &:hover {
            color: #ffffff;
            background-color: #FFDF8A;
          }
        }
      }

      &Name {
        margin: 10px 0;
      }
    }
  }
}

@media (max-width: 1400px) {
  .constructor {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-top: 0;
  }
  .pizza {
    width: 300px;
  }
  .ingredients{
    width: 500px;
    height: 340px;
    &Categories{
      & span{
        height: 45px;
      }
    }
    &Products{
      width: 75%;
      grid-column-gap: 0;
      margin: 0;
      & .item{
        padding: 0;
        margin-bottom: 0;
      }
      &__image{
        margin-bottom: 0;
        min-height: 50px;
        & img{
          width: 50%;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .ingredients {
    height: 350px;
  }
}

@media (max-width: 660px) {
  .pizza{
    width: 180px;
    margin-left: 40px;
  }
  .ingredients {
    width: 210px;
    margin-left: 57px;
    height: 267px;
    margin-top: 20px;
    &Categories{
      width: 35px;
      margin-right: 7px;
      .activeCategory {
        min-height: 45px;
        min-width: 45px;
      }
      & span{
        height: 100%;
        width: 100%;
        & svg{
          width: 25px;
        }
      }
      & .order{
        & span{
          width: 45px;
          font-size: 10px;
        }
        &Button{
          padding: 5px 5px;
          font-size: 8px;
        }
      }
    }
    &Products {
      width: 120px;
      grid-template-columns: 12fr;
      & .item{
        &Name{
          margin: 5px 0;
          font-size: 12px;
        }
      }
    }
  }
}


