.constructor {
  display: grid;
  grid-template-columns: 6fr 6fr;
  justify-items: flex-end;
  margin-left: 180px;
}

.pizza {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
.pizza img {
  width: 500px;
}

.ingredients {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid #9b9b9b;
  border-radius: 30px;
  padding: 10px;
}
.ingredientsCategories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.ingredientsCategories .activeCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  min-height: 80px;
  cursor: pointer;
  border-radius: 30px;
  background-color: #FFDF8A;
}
.ingredientsCategories .activeCategory span svg path {
  fill: #ffffff;
  stroke: #ffffff;
}
.ingredientsCategories span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 80px;
  cursor: pointer;
  border-radius: 30px;
}
.ingredientsCategories span path {
  fill: #9b9b9b;
  stroke: #9b9b9b;
}
.ingredientsCategories span:hover {
  background-color: #FFDF8A;
}
.ingredientsCategories span:hover svg path {
  fill: #ffffff;
  stroke: #ffffff;
}
.ingredientsCategories .order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ingredientsCategories .order span {
  background-color: #fff;
  cursor: default;
}
.ingredientsCategories .orderButton {
  color: #ffffff;
  padding: 15px 30px;
  background-color: #FF7B6D;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.ingredientsCategories .orderButton:hover {
  opacity: 0.8;
}
.ingredients .ingredientsProducts::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}
.ingredients .ingredientsProducts::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
  height: 50%;
}
.ingredients .ingredientsProducts::-webkit-scrollbar-thumb {
  background-color: #FF7B6D;
  border-radius: 10px;
}
.ingredientsProducts {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  grid-column-gap: 10px;
  overflow-y: scroll;
}
.ingredientsProducts__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  min-width: 50px;
  min-height: 130px;
}
.ingredientsProducts__image img {
  width: 100%;
  height: 100%;
}
.ingredientsProducts .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #9b9b9b;
  border-radius: 30px;
  min-width: 106px;
  margin-bottom: 10px;
}
.ingredientsProducts .itemCount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 30px;
}
.ingredientsProducts .itemCount button {
  border: none;
  outline: none;
}
.ingredientsProducts .itemCount .activeAdded {
  background-color: #FF7B6D;
  color: rgba(0, 0, 0, 0.2);
}
.ingredientsProducts .itemCount .activeAdded:hover {
  background-color: #FF7B6D;
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}
.ingredientsProducts .itemCount .activeRemoved {
  color: rgba(0, 0, 0, 0.2);
}
.ingredientsProducts .itemCount .activeRemoved:hover {
  color: rgba(0, 0, 0, 0.2);
  background-color: #F7F5F7;
  cursor: default;
}
.ingredientsProducts .itemCount__minus {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  margin-right: 3px;
}
.ingredientsProducts .itemCount__plus {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.ingredientsProducts .itemCount__minus, .ingredientsProducts .itemCount__plus {
  background-color: #F7F5F7;
  text-align: center;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
}
.ingredientsProducts .itemCount__minus:hover, .ingredientsProducts .itemCount__plus:hover {
  color: #ffffff;
  background-color: #FFDF8A;
}
.ingredientsProducts .itemName {
  margin: 10px 0;
}

/*# sourceMappingURL=Constructor.module.css.map */
