@import "src/Styles/mixins";
@import "src/Styles/colors";

.header {
  position: relative;
  @include flex(flex-end, center);

  &Toggle {
    display: none;
    cursor: pointer;
  }

  &Basket {
    @include flex(center, center);
    font-family: 'New York Large', sans-serif;
    text-transform: uppercase;
    margin-right: 30px;
    font-size: 12px;
    cursor: pointer;
    opacity: 1;
    transition: all .3s;

    &:hover {
      opacity: .8;
    }

    &__count {
      @include flex(center, center);
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: $mainRouse;
      color: #ffffff;
      margin-left: 10px;
    }
  }
}


@media (max-width: 1024px) {
  .header {
    position: relative;

    &Toggle {
      display: block;
      position: absolute;
      top: 35px;
      left: 30px;
    }

    &Basket {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 10px;

      &__count {
        height: 20px;
        width: 20px;
      }

      & img {
        width: 50px;
      }
    }
  }
}
