@import "../../Styles/colors.module";

.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('https://res.cloudinary.com/minak/image/upload/v1594971566/PastaPizza/pastaPizzaSidebar_el3bzg.png');
  background-size: cover;
  padding-left: 55px;
  position: fixed;
  left: 0;
  top: 0;
  width: 400px;
  height: 100%;

  &Wrapper{
    background-image: url('https://res.cloudinary.com/minak/image/upload/v1594971566/PastaPizza/pastaPizzaSidebar_el3bzg.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  & a {
    cursor: pointer;
    color: #000000;
    opacity: 1;
    transition: all .3s;

    &:hover {
      opacity: .6;
    }
  }

  &Logo {
    position: absolute;
    font-size: 40px;
    width: 250px;
    height: 250px;
    left: -96px;
    top: -110px;
    border-radius: 50%;
    background-color: #FFE9AF;
    cursor: pointer;
    transition: all .7s;

    & a:hover {
      opacity: 1;
    }


    & span {
      position: absolute;
      right: 78px;
      bottom: 52px;
    }
  }

  &List {
    text-transform: uppercase;
    position: relative;

    & .active {
      color: rgb(255, 123, 110);
    }

    & li:nth-last-child(n+2) {
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 1500px) {
  .sidebar {
    width: 300px;
  }

}
@media (max-width: 1200px) {
  .sidebar {
    width: 250px;
  }

}

@media (max-width: 1000px) {
  .sidebar {
    font-size: 12px;
    width: 200px;

    &Logo {
      font-size: 30px;
    }
  }
}

@media (max-width: 625px) {
  .sidebar {
    padding-left: 10px;
    &Logo {
      left: -148px;
      font-size: 20px;
    }
  }
}
@media (max-width: 415px) {
  .sidebar {
    font-size: 8px;
    width: 190px;
    &Logo {
      width: 214px;
      height: 200px;
      & span{
        right: 37px;
      }
    }
  }
}
