@import "../../Styles/colors.module";

.sidebar {
  background-image: url('https://res.cloudinary.com/minak/image/upload/v1594971566/PastaPizza/pastaPizzaSidebar_el3bzg.png');
  background-size: cover;
  font-weight: 500;
  padding-left: 55px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 1;

  & a {
    cursor: pointer;
    color: #000000;
    opacity: 1;
    transition: all .3s;

    &:hover {
      opacity: .6;
    }
  }

  &Logo {
    position: absolute;
    font-size: 40px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: -110px;
    background-color: #FFE9AF;
    left: -96px;
    cursor: pointer;
    transition: all .7s;

    & a:hover {
      opacity: 1;
    }


    & span {
      position: absolute;
      right: 78px;
      bottom: 52px;
    }
  }

  &List {
    text-transform: uppercase;
    position: relative;

    & .active {
      color: rgb(255, 123, 110);
    }

    & li:nth-last-child(n+2) {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 1000px) {
  .sidebar {
    font-size: 12px;

    &Logo {
      font-size: 30px;
    }
  }
}

@media (max-width: 1000px) {
  .sidebar {
    padding-left: 20px;
    font-size: 10px;
    &Logo {
    }
  }
}
